*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* classi generiche */
.flex-container{
    display: flex;
    width: 70%;
    margin:0 auto;
}

.padding{
    padding: 3rem 0;
}

/* header */
header{
    background-image:url(../img/jumbo.png);
    background-size: cover;
}

.barr{
    padding: 1rem 0;
    align-items: center;   
}

.link-bar{
    color: white;
}

.bar-button{
    padding: 0.5rem 0.6rem;
    border-radius: 5rem;
    align-items: center;
}

.side-bar{
    width: 25%; 
    padding: 0.3rem; 
}

.central-bar{
    width: 50%;
    padding: 0.3rem;
    justify-content: space-around;
}

.login{
    text-align: end;
}

/* prima sezione */
.jumbo-content{
    align-self: center;
    width: 45rem;
    min-height: 20rem;
    margin: 0.5rem auto;
    text-align: center;
}

.jumbo-content h1{   
    color: white;
    font-size: 3rem;
    padding: 1rem 0;
}

.jumbo-content p{
    color: white;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.jumbo-content button{
    margin: 0 1rem;
}

.mac{
    padding: 0.5rem;
    border-radius: 5rem;
}

.browser{
    padding: 0.5rem;
    border-radius: 5rem;
    color: white;
    background-color: black;
}

/* seconda sezione */
.big-box{
    width: 60%;
    min-height: 25rem;
}

.small-box{
    width: 40%;
    min-height: 25rem;
}

.small-box h2{
    font-size: 2.5rem;
    padding: 2.5rem;
}

.small-box p{
    padding: 0 2.5rem;
}

/* terza sezione */

.tendina{
    background-image: url(../img/wave.svg);
    filter: opacity(0.09);
    height: 100px;
}



.reverse{
    flex-direction: row-reverse;
}

/* quarta sezione*/
.upsidedown{
    transform: rotateX(0.5turn);
}

/* quinta sezione */
.center-big-box{
    width: 100%;
    min-height: 35rem;
    text-align:center;
}

.center-big-box p{
    padding: 1rem 0;
}

.adventure{
    background-image: url(../img/stars.svg);
    background-size: content;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 0;
}

.mac-blue{
    color: white;
    background-color: rgb(81, 44, 218);
    padding: 0.5rem 0.6rem;
    border-radius: 5rem;
}

/* footer */
footer{
    background-color: rgb(48, 47, 47);
}

/* prima parte footer */
.footer-left{
    width: 40%;
    min-height: 30rem;
}

h3{
    padding: 3rem 1rem 1rem 1rem;
    font-size: 1.5rem;
}

.lenguage{
    width: 0.9rem;
    height: 0.8rem;
    margin-left: 1rem;
}

.it{
    color: white;
    font-size: 0.8rem;
}

div > i{
    padding: 1rem;
    color: white;
}

.footer-right{
    width: 100%;
    min-height: 30rem;
}    
.blue-link{
    color: rgb(76, 76, 194);
    padding-top: 3rem;
}

.footer-link{
    padding-top: 1rem;
    color: white;
}


.last-padding{
    padding: 1rem 0 3rem 0;
}

hr{
    margin:1rem auto;
    width: 70%;
}

/* seconda parte footer */
.flex-space{
    display: flex;
    width: 70%;
    margin:0 auto;
    justify-content: space-between;
    min-height: 3rem;
    align-items: center;   
}

.end{
    padding: 0.2rem;
}

.footer-button{
    color: white;
    padding: 0.5rem 0.6rem;
    border-radius: 5rem;
    background-color:rgb(81, 44, 218);
}
